<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd




                      http://cxf.apache.org/jaxrs
                      http://cxf.apache.org/schemas/jaxrs.xsd">

	<context:annotation-config/>

	<jaxrs:server id="restApi" address="/web">

		<jaxrs:serviceBeans>
			<ref bean="resource"/>
		</jaxrs:serviceBeans>

		<jaxrs:extensionMappings>
			<entry key="feed" value="application/atom+xml"/>
			<entry key="json" value="application/json"/>
			<entry key="xml" value="application/xml"/>
			<entry key="html" value="text/html"/>
		</jaxrs:extensionMappings>

	</jaxrs:server>

	<bean id="resource" class="com.richo.merlin.web.api.WebApiServer"/>

</beans>


